.jumbotron h1{
    padding:0;
    margin:0;
}

body{
    padding-left:10px;
    padding-bottom:30px;
}
footer{
    display:inline-block;
    text-align:center;

.signuprow{
    display:inline-block;im !important
        text-align: center;im !important
    }